@import "./shared.module.scss";

.sidebar_container {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 0.25s ease;
  &.isOpen {
    transform: translateX(0);
  }
}

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sidebar {
  position: relative;
  width: 90%;
  height: 100%;
  padding: 70px 32px 50px;
  overflow-y: auto;
  background: $c-white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.12);
}
@media (min-width: $screen-sm-min) {
  .sidebar {
    width: 360px;
  }
}
.sidebar__exit_button,
.sidebar__logo {
  margin-top: 20px;
}

.sidebar_content >>> ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
.sidebar_content >>> li {
  position: relative;
}
.sidebar_content >>> a {
  display: block;
  font-size: $fs-1;
  font-weight: $fw-semibold;
  line-height: $base-sizing;
  color: $c-grey-light;
  margin-bottom: 1.3rem;
}
.sidebar_content >>> a:hover {
  text-decoration: none;
}
.sidebar_content >>> a .chapter_number {
  color: $c-grey-light;
  font-size: $fs-1;
}
>>> .chapter_number {
  position: relative;
  display: inline-block;
  margin: 0 1rem 0 0;
  font-size: $fs-4;
  font-weight: $fw-bold;
  color: $c-primary;
}
.close_nav {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 28px;
  left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
}
.close_nav::before,
.close_nav::after {
  content: "";
  width: 16px;
  height: 2px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: rotate(45deg);
}
.close_nav::after {
  transform: rotate(-45deg);
}
